<div class="form-group">
    <label>타이틀</label>
    <input type="text" name="title" class="form-control">
</div>
<div class="form-group">
    <label>자격증: </label>
    <select name="certlevel" id="cert-level" class="form-control">
        <option value="1">문법</option>
        <option value="2">교원 자격증 소요</option>
        <option value="3">회화</option>
        <option value="4">TOPIK 대비</option>
    </select>
</div>

