<div class="panel panel-default row" ng-controller="tutorListCtrl" ng-hide="data.error">
    <div class="col-xs-3">
        <p class="lead">Filters</p>
        <hr>
        <pre>type filter</pre>
        <div class="btn-group">
            <label class="btn btn-primary btn-xs" ng-click="selectedFilter()"
                   ng-repeat="item in data.type" ng-model="item.selected" uib-btn-checkbox>
                {{item[lang]}}
            </label>
        </div>
        <hr>
        <pre>region filter</pre>
        <div class="btn-group">
            <label class="btn btn-primary btn-xs" ng-click="selectedFilter()"
                   ng-repeat="item in data.region" ng-model="item.selected" uib-btn-checkbox>
                {{item[lang]}}
            </label>
        </div>
        <hr>
        <pre>order by</pre>
        <!-- ng-repeat 쓰면 안되는 버그 있음 -->
        <div class="btn-group">
            <label class="btn btn-success btn-xs" ng-model="order" uib-btn-radio="data.orderBy[0].value">{{data.orderBy[0][lang]}}</label>
            <label class="btn btn-success btn-xs" ng-model="order" uib-btn-radio="data.orderBy[1].value">{{data.orderBy[1][lang]}}</label>
            <label class="btn btn-success btn-xs" ng-model="order" uib-btn-radio="data.orderBy[2].value">{{data.orderBy[2][lang]}}</label>
        </div>
    </div>

    <div class="col-xs-9">
        <p class="lead">Tutors</p>
        <hr>
        <div class="row">
            <a ng-repeat="item in data.tutors | orderBy:order | filter:filtersFn | range:selectedPage:pageSize"
               class="thumbnail col-xs-6 col-sm-4 col-md-3" ng-click="addTutorToBookmark(item)">
                <div class="caption well">
                    <h4 class="thumbnail-title">{{item.title}}</h4>
                </div>
                <img class="pull-left" src="img/319.png" height="50px" width="50px"/>
                <div class="caption">
                    <p>{{item.name[lang]}} ({{item.age}}) {{item.gender}}</p>
                    <p>Tier:{{item.tier}} | ★ {{item.recommended}}</p>
                    <hr>
                    <p>지역 : {{item.region}}</p>
                    <p>분야 : {{item.type}}</p>
                    <p>비용 : {{item.price}} 만원</p>
                </div>
                <div class="clearfix"></div>
            </a>
        </div>

        <div class="btn-group pull-right">
            <a ng-repeat="page in data.tutors | filter:filtersFn | pageCount:pageSize"
               ng-click="selectPage($index + 1)" class="btn btn-default" ng-class="getPageClass($index + 1)">
                {{$index + 1}}
            </a>
        </div>
    </div>
</div>
