<div class="clearfix"></div>
<div class="form-group">
    <label>타이틀</label>
    <input type="text" name="title" class="form-control">
</div>
<div class="form-group">
    <label>과외 선호 장소</label>
    <select name="favor_places" class="form-control">
        <option value="student_home">학생집</option>
        <option value="cafe">카페</option>
    </select>
</div>
<div class="form-group">
    <label>배우고 싶은 과목</label>
    <select multiple="multiple" name="subjects" class="form-control">
        <option value="grammar">문법</option>
        <option value="topic">TOPIK</option>
        <option value="conversation">회하</option>
    </select>
</div>
<div class="form-group">
    <label>최소 과외 금액</label>
    <input type="text" name="fee_min" class="form-control">
    <label>최대 과외 금액</label>
    <input type="text" name="fee_max" class="form-control">
</div>
<div class="form-group">
    <label class="radio-inline">
        <input type="radio" name="is_group" id="is_group1" value="0" class="radio-inline"
        > 개인
    </label>
    <label class="radio-inline">
        <input type="radio" name="is_group" id="is_group2" value="1" class="radio-inline"
        > 그룹
    </label>
</div>
