<h2>Login Page.</h2>
<hr>

<form class="form-horizontal" name="loginForm" novalidate>
	<div class="well">
		<div class="lead">Please enter your email and password</div>
		<div class="form-group" ng-class="loginForm.email.$error.required ? 'has-error':'has-success'">
			<label class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<input name="email" class="form-control" ng-model="user.login.email" required/>
				<span class="help-block" ng-show="loginForm.email.$error.required">Please enter a email</span>
			</div>
		</div>
		<div class="form-group" ng-class="loginForm.pass.$error.required ? 'has-error':'has-success'">
			<label class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input name="pass" class="form-control" type="password" ng-model="user.login.pass" required/>
				<span class="help-block" ng-show="loginForm.pass.$error.required">Please enter a password</span>
			</div>
		</div>
		<div class="container-fluid form-group text-right">
			<button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Sign in</button>
			<a href="#/signup" class="btn btn-success">Sign up</a>
		</div>
	</div>
</form>

<div>
{{'user.login : '}}{{user.login||'null'}}
</div>