
<div ng-controller="mypageController">

	<h2>Your Bookmarked {{getBookmarkGroup()}}</h2>
	<hr>
	<!-- bookmark list -->
	<div class="alert alert-warning" ng-show="bookmarkData.length == 0">
		There are no bookmarks in your id.
		<a ng-click="goBack()">Click here to return to back</a>
	</div>
	<div ng-hide="bookmarkData.length == 0">
		<div class="row">
			<div ng-repeat="item in bookmarkData | orderBy:'date' | range:selectedPage:pageSize"
			class="thumbnail col-xs-6 col-sm-4 col-md-3">
				<div class="caption well">
					<h4 class="thumbnail-title">{{item.title}}</h4>
				</div>
				<img class="pull-left" src="img/319.png" height="50px" width="50px"/>
				<div class="caption">
					<p>{{item.name[lang]}} ({{item.age}}) {{item.gender}}</p>
					<p>Tier:{{item.tier}} | ★ {{item.recommended}}</p>
					<hr>
					<p>지역 : {{item.region}}</p>
					<p>분야 : {{item.type}}</p>
					<p>비용 : {{item.price}} 만원</p>
					<p>Date: {{item.date}}</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="btn-group pull-right">
			<a ng-repeat="page in bookmarkData | pageCount:pageSize"
			ng-click="selectPage($index + 1)" class="btn btn-default" ng-class="getPageClass($index + 1)">
				{{$index + 1}}
			</a>
		</div>
	</div>

	<!-- user info -->
	<h2>Your Information</h2>
	<hr>
	<div>
		<!-- 이미지 수정 및 ng-repeat 제거 필요 -->
		<table class="table table-striped">
			<tr>
				<td><b>image</b></td><td><img src="img/319.png" height="100" width="100"></td><td><a class="btn btn-default btn-xs">수정</a></td>
			</tr>
			<tr ng-repeat="(key,val) in user">
				<td><b>{{key}}</b></td><td>{{val}}</td><td><a class="btn btn-default btn-xs">수정</a></td>
			</tr>
		</table>
	</div>
	<a href="" class="btn btn-default pull-right">정보수정</a>
	<div class="clearfix"></div>
</div>
