<h2>Sign up Page</h2>
<hr>
<form class="form-horizontal" name="signupForm" novalidate>
	<div class="well">
		<p class="lead">Please enter your details.</p>
		<div class="form-group" ng-class="signupForm.email.$error.required?'has-error':'has-success'">
			<label class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<input name="email" class="form-control" ng-model="user.signup.email" required/>
				<span class="help-block" ng-show="signupForm.email.$error.required">Please enter a email</span>
			</div>
		</div>
		<div class="form-group" ng-class="signupForm.pass.$error.required?'has-error':'has-success'">
			<label class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input name="pass" class="form-control" type="password" ng-model="user.signup.pass" required/>
				<span class="help-block" ng-show="signupForm.pass.$error.required">Please enter a password</span>
			</div>
		</div>
		<div class="form-group" ng-class="signupForm.confirmPass.$error.required?'has-error':'has-success'">
			<label class="col-sm-2 control-label">Password Confirm</label>
			<div class="col-sm-10">
				<input name="confirmPass" class="form-control" type="password" ng-model="user.signup.confirmPass" required/>
				<span class="help-block" ng-show="signupForm.confirmPass.$error.required">Please enter a password confirm</span>
			</div>
		</div>
		<div class="form-group" ng-class="signupForm.groupOptions.$error.required?'has-error':'has-success'">
			<label class="col-sm-2 control-label">Group</label>
			<div class="col-sm-10">
				<label class="radio-inline">
					<input type="radio" name="groupOptions" id="groupStudent" ng-model="user.signup.group" value="student" required/>Student
				</label>
				<label class="radio-inline">
					<input type="radio" name="groupOptions" id="groupTutor" ng-model="user.signup.group" value="tutor" required/>Tutor
				</label>
				<span class="help-block" ng-show="signupForm.groupOptions.$error.required">Please select a group</span>
			</div>
			
		</div>
		<div class="container-fluid form-group">
			<a href="#/login" class="btn btn-info pull-left">◀ Back to the login page</a>
			<button type="submit" class="btn btn-primary pull-right" ng-disabled="signupForm.$invalid">Sign up</button>
			<div class="clear-prefix"></div>
		</div>
	</div>
</form>
<div>{{'user.signup : '}}{{user.signup||'null'}}</div>