.start{margin-top: 55px;}
.thumbnail .well {margin-bottom: 5px; padding:0px; text-align: center;}
.thumbnail .caption {padding:2px 1px 1px 1px;}
.thumbnail .caption p {margin-bottom: 3px;}
.thumbnail .caption hr {margin: 5px;}
a.thumbnail { text-decoration: none !important; } /*remove underline from a*/

[ng-click] {cursor: pointer;} /*add pointer cursor to all tag with 'ng-click'*/

/*bookmarkSummary.html 안에 중복 삭제필요.*/
.navbar-right{margin-right:0px;}
.navbar-right{float:right !important; margin-right:5px;}
.navbar-text{margin-right: 10px;}