<!DOCTYPE html>
<html ng-app="krTutor">
<head>
  <script src="angular.js"></script>
  <link href="bootstrap.css" rel="stylesheet"/>
  <link href="bootstrap-theme.css" rel="stylesheet"/>
  <script>
  angular.module("krTutor",[]);
  </script>

  <style>
    .navbar-right{margin-right:5px;}
    .start{margin-top: 55px;}
    .thumbnail .well{margin:0 0 5px 0; padding: 5px;}
    .thumbnail-title{margin-top: 0px; margin-bottom: 0px;text-align: center;}
    .thumbnail .pull-left{margin: 0 5px 0 0;}

    .card{
      height: 200px;
      width: 220px;
      margin-left: 2px;
      margin-right:2px;
    }

    .container-center {
      display:                 flex;
      display:                 -webkit-flex; /* Safari */
      flex-wrap:               wrap;
      -webkit-flex-wrap:       wrap;         /* Safari */
      justify-content:         center;
      -webkit-justify-content: center;       /* Safari */
    }
  </style>
</head>
<body ng-controller="krTutorCtrl" class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Korean Tutor</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">{{text.nav1[lang]}}</a></li>
          <li><a href="#">{{text.nav2[lang]}}</a></li>
          <li><a href="#">{{text.nav3[lang]}}</a></li>
        </ul>
        <div class="navbar-right">
            <a class="btn btn-default navbar-btn" href="#">{{text.nav4[lang]}}</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="start container-center">
    <div class="row">
      <a href="#" class="thumbnail card pull-left">
        <div class="caption well">
          <h4 class="thumbnail-title">Thumnail label</h4>
        </div>
        <img class="pull-left" src="img/319.png" height="62px" width="62px"/>
        <div class="caption">
          <p>ddd</p>
          <p>ddd</p>
          <p>ddd</p>
        </div>
        <div class="clearfix"></div>
      </a>
      <a href="#" class="thumbnail card pull-left">
        <div class="caption well">
          <h4 class="thumbnail-title">Thumnail label</h4>
        </div>
        <img class="pull-left" src="img/319.png" height="62px" width="62px"/>
        <div class="caption">
          <p>ddd</p>
          <p>ddd</p>
          <p>ddd</p>
        </div>
        <div class="clearfix"></div>
      </a>
      <a href="#" class="thumbnail card pull-left">
        <div class="caption well">
          <h4 class="thumbnail-title">Thumnail label</h4>
        </div>
        <img class="pull-left" src="img/319.png" height="62px" width="62px"/>
        <div class="caption">
          <p>ddd</p>
          <p>ddd</p>
          <p>ddd</p>
        </div>
        <div class="clearfix"></div>
      </a>
      <a href="#" class="thumbnail card pull-left">
        <div class="caption well">
          <h4 class="thumbnail-title">Thumnail label</h4>
        </div>
        <img class="pull-left" src="img/319.png" height="62px" width="62px"/>
        <div class="caption">
          <p>ddd</p>
          <p>ddd</p>
          <p>ddd</p>
        </div>
        <div class="clearfix"></div>
      </a>
      <a href="#" class="thumbnail card pull-left">
        <div class="caption well">
          <h4 class="thumbnail-title">Thumnail label</h4>
        </div>
        <img class="pull-left" src="img/319.png" height="62px" width="62px"/>
        <div class="caption">
          <p>ddd</p>
          <p>ddd</p>
          <p>ddd</p>
        </div>
        <div class="clearfix"></div>
      </a>
      <a href="#" class="thumbnail card pull-left">
        <div class="caption well">
          <h4 class="thumbnail-title">Thumnail label</h4>
        </div>
        <img class="pull-left" src="img/319.png" height="62px" width="62px"/>
        <div class="caption">
          <p>ddd</p>
          <p>ddd</p>
          <p>ddd</p>
        </div>
        <div class="clearfix"></div>
      </a>
      <a href="#" class="thumbnail card pull-left">
        <div class="caption well">
          <h4 class="thumbnail-title">Thumnail label</h4>
        </div>
        <img class="pull-left" src="img/319.png" height="62px" width="62px"/>
        <div class="caption">
          <p>ddd</p>
          <p>ddd</p>
          <p>ddd</p>
        </div>
        <div class="clearfix"></div>
      </a>
    <div class="clearfix"></div>
  </div>
</div>
<script src="controllers/krTutor.js"></script>
</body>
</html>
