<!DOCTYPE html>
<html ng-app="krTutor">
<head>
  <script src="angular.js"></script>
  <link href="bootstrap.css" rel="stylesheet"/>
  <link href="bootstrap-theme.css" rel="stylesheet"/>

  <!-- custom scripts -->
  <script>
    angular.module("krTutor",["ui.bootstrap","ngRoute", "customFilters", "bookmark"])
    .config(function($routeProvider){
      $routeProvider.when("/mypage", {
        templateUrl: "/views/mypage.html"
      })
      $routeProvider.when("/tutors", {
        templateUrl: "/views/tutorList.html"
      })
      $routeProvider.when("/students", {
        templateUrl: "/views/studentsList.html"
      })
      $routeProvider.when("/login", {
        templateUrl: "/views/login.html"
      })
      $routeProvider.when("/signup",{
        templateUrl: "/views/signup.html"
      })
      $routeProvider.otherwise({
        templateUrl: "/views/main.html"
      });
    });
  </script>
  <script src="controllers/krTutor.js"></script>
  <script src="controllers/tutorListController.js"></script>
  <script src="controllers/mypageController.js"></script>
  <script src="filters/customFilters.js"></script>
  <script src="ngmodules/ui-bootstrap-tpls-0.14.3.min.js"></script>
  <link rel="stylesheet" type="text/css" href="components/ui-bootstrap/placement.css">
  <script src="ngmodules/angular-route.js"></script>
  <script src="components/bookmark/bookmark.js"></script>
  <!-- custom css -->
  <style>
    .start{margin-top: 55px;}
    .thumbnail .well {margin-bottom: 5px; padding:0px; text-align: center;}
    .thumbnail .caption {padding:2px 1px 1px 1px;}
    .thumbnail .caption p {margin-bottom: 3px;}
    .thumbnail .caption hr {margin: 5px;}
    a.thumbnail { text-decoration: none !important; } /*remove underline from a*/

    [ng-click] {cursor: pointer;} /*add pointer cursor to all tag with 'ng-click'*/

    /*bookmarkSummary.html 안에 중복 삭제필요.*/
    .navbar-right{margin-right:0px;}
    .navbar-right{float:right !important; margin-right:5px;}
    .navbar-text{margin-right: 10px;}
  </style>
</head>
<body ng-controller="krTutorCtrl" class="container">
  <!-- nav -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Korean Tutor</a>
      </div>
      <div class="navbar-collapse collapse" ng-class="!isCollapsed && 'in'" ng-click="navCollapsed = true">
        <ul class="nav navbar-nav">
          <li><a href="#/students">{{text.nav1[lang]}}</a></li>
          <li><a href="#/tutors">{{text.nav2[lang]}}</a></li>
          <li><a href="#/mypage" ng-show="user">{{text.nav3[lang]}}</a></li>
        </ul>
        <!-- 수정할필요 있음. -->
        <div class="navbar-right">
          
            <a class="btn btn-default btn-xs navbar-btn" href="#/login" ng-hide="user">{{text.nav4[lang]}}</a>

            <div ng-show="user" class="navbar-text">
              {{user.group}} <b>{{user.name}}</b> logined
            </div>
        </div>
        <bookmark-summary ng-show="user"/>
      </div>
    </div>
  </nav>
  <script type="text/ng-template" id="loginPopoverTemplate.html">
    <div>content</div>
    <div class="form-group">
      <label>ID</label>
      <input type="text" class="form-control">
    </div>
  </script>

  <!-- section -->
  <div class="start">

    <div class="alert alert-danger" ng-show="data.error">
      Error({{data.error.status}}). The data was not loaded.
      <a href="/app.html" class="alert-link">Click here to try again</a>
    </div>

    <ng-view/>

  </div>

</body>
</html>
