<section ng-controller="ExampleController">
    <!-- If the user is not authenticated show the authentication link -->
    <div data-ng-show="!authentication.user">
        <a href="/signup">Signup</a>
        <a href="/signin">Signin</a>
    </div>
    <!-- Otherwise, show the user details and application links -->
    <div data-ng-show="authentication.user">
        <h1>Hello <span data-ng-bind="authentication.user.fullName"></span></h1>
        <a href="/signout">Signout</a>
        <ul>
            <li><a href="/#!/chat">Chat</a></li>
            <li><a href="/#!/articles">List Articles</a></li>
            <li><a href="/#!/articles/create">Create Article</a></li>
        </ul>
    </div>
</section>