<style>
  .navbar-right{float:right !important; margin-right:5px;}
  .navbar-text{margin-right: 10px;}
</style>

<div class="navbar-right">
  <div class="navbar-text">
    {{bookmarkCount()}} bookmark(s)
  </div>
  <!--<a class="btn btn-default navbar-btn">Checkout</a>-->
</div>
