<div class="form-group">
    <label>이름</label>
    <input type="text" name="name" class="form-control">
</div>

<div class="form-group">
    <label>나이</label>
    <input type="number" name="age" class="form-control">
</div>

<div class="form-group">
    <label>Email</label>
    <input type="email" name="email" class="form-control">
</div>

<div class="form-group">
    <label class="radio-inline">
        <input type="radio" name="gender" id="" value="M" class="radio-inline"> 남
    </label>
    <label class="radio-inline">
        <input type="radio" name="gender" id="" value="F" class="radio-inline"> 여
    </label>
</div>

<div class="form-group">
    <label>비밀번호 (6글자 이상)</label>
    <input type="text" name="password" class="form-control">
</div>
<div class="clearfix"></div>
학생
<div class="form-group">
    <label>타이틀</label>
    <input type="text" name="title">
</div>
<div class="form-group">
    <label>Cert Level</label>
    <input type="number" name="certlevel">
</div>
<div class="form-group">
    <label>Addr</label>
    <select name="addr">
        <option value="seogu">서구</option>
        <option value="yuseongu">유성구</option>
        <option value="daedukgu">대덕구</option>
        <option value="dongu">동구</option>
        <option value="jungu">중구</option>
    </select>
</div>
<div class="form-group">
    <button type="submit" class="btn btn-primary">제출</button>
</div>