<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <h1>에러 페이지</h1>
    <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <% if (error.length > 0) { %>
    에러
    <div class="alert alert-danger"><%= message %></div>
    <% } %>
</body>
</html>