
<form id        =  "uploadForm"
      enctype   =  "multipart/form-data"
      action    =  "/api/photo"
      method    =  "post"
>
    <input type="file" name="userPhoto" />
    <input type="submit" value="Upload Image" name="submit">
</form>