<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Korean Tutor</title>
    <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap-theme.min.css"/>

    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"> Profile Page</span></h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"> Local</span></h3>

                <p>
                    이름: <%= user.name %> <br>
                    이메일: <%= user.email %> <br>
                    나이: <%= user.age %> <br>
                    역할: <%= user.role %>
                </p>
                <hr>
                <%= user %>


            </div>
        </div>
    </div>
</div>
</body>
</html>