<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Korean Tutor</title>
    <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/public/lib/font-awesome/css/font-awesome.min.css"/>

    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> 로그인</h1>


        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>


        <!-- LOGIN FORM -->
        <form action="/login" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>
    </div>
</div>

<!-- AngularJS Libraries-->
<script src="/public/lib/angular/angular.min.js"></script>
<script src="/public/lib/angular-route/angular-route.min.js"></script>
<script src="/public/lib/angular-resource/angular-resource.min.js"></script>

</body>
</html>