<!DOCTYPE html>
<html ng-app="signup">
<head>
    <meta charset="UTF-8">
    <!-- Twitter Bootstrap -->
    <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/public/lib/font-awesome/css/font-awesome.min.css"/>
    <style>
        /*.ng-invalid { background-color: lightpink; }*/
        /*.ng-valid { background-color: lightgreen; }*/
        /*span.error { color: red; font-weight: bold; }*/
    </style>

</head>
<body ng-controller="SignUpCtrl">
<body>
<!-- <a class="btn btn-primary" href="/www.naver.com">Continue shopping</a> -->
<!-- 회원가입 폼 -->
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h3>Role: {{user.role }}</h3>


        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <form action="{{ action }}" method="POST" class="form-horizontal">
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="role" id="" value="tutor" class="radio-inline" ng-model="user.role"
                    > 선생
                </label>
                <label class="radio-inline">
                    <input type="radio" name="role" id="" value="student" class="radio-inline" ng-model="user.role"
                    > 학생
                </label>
            </div>

            <div class="form-group">
                <label>이름</label>
                <input type="text" name="name" ng-model="user.name" class="form-control">
            </div>


            <div class="form-group">
                <label>나이</label>
                <input type="number" name="age" ng-model="user.age" class="form-control" min="1">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" ng-model="user.email" class="form-control">
            </div>

            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="gender" ng-model="user.gender" id="gender-m" value="M" class="radio-inline"> 남
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" ng-model="user.gender" id="gender-f" value="F" class="radio-inline"> 여
                </label>
            </div>

            <div class="form-group">
                <label>비밀번호 (6글자 이상)</label>
                <input type="text" name="password" ng-model="user.password" class="form-control">
            </div>


            <div class="form-group">
                <label>주소</label>
                <select name="addr" ng-model="user.addr" class="form-control">
                    <option value="seogu">서구</option>
                    <option value="yuseongu">유성구</option>
                    <option value="daedukgu">대덕구</option>
                    <option value="dongu">동구</option>
                    <option value="jungu">중구</option>
                </select>
            </div>

            <hr>
            <div class="well text-center">
                {{ user.role }}
            </div>

            <!-- AngularJS View 처리 부분-->
            <div ng-view></div>



            <div class="form-group">
                <button type="submit" class="btn btn-primary">제출</button>
            </div>

        </form>
    </div>
</div>

<!-- AngularJS Libraries-->
<script src="/public/lib/angular/angular.min.js"></script>
<script src="/public/lib/angular-route/angular-route.min.js"></script>
<script src="/public/lib/angular-resource/angular-resource.min.js"></script>

<!--  Test -->
<script>
    angular.module('signup', ['ngResource', 'ngRoute'])
            .controller('SignUpCtrl', ['$scope', '$location', '$http',
                function ($scope, $location, $http) {


                    $scope.testHttp = function () {

                    };

                    $scope.user = {};

                    $scope.user.role = "student";
                    $scope.$watch('user.role', function (newValue, oldValue) {
                        if (newValue == "student") {
                            $scope.action = "/api/students";
                            console.log($scope.action);
                        } else {
                            $scope.action = "/api/tutors"
                            console.log($scope.action);
                        }
                        $location.path('/' + newValue);
                        console.log($location.path());
                    });
                }]);

    angular.module('signup')
            .config(['$routeProvider', function ($routeProvider) {
                $routeProvider.
                        when('/', {
                            templateUrl: '/public/students/views/create-student.client.view.html'
                        })
                        .when('/student', {
                            templateUrl: '/public/students/views/create-student.client.view.html'
                        })
                        .when('/tutor', {
                            templateUrl: '/public/tutors/views/create-tutor.client.view.html'
                        })
                        .when('/student/list', {})
                        .otherwise({
                            redirectTo: '/phones'
                        });
            }
            ]);
</script>
</body>
</html>