/**
 * Created by Eunseok on 2015-11-19.
 */
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <!-- Twitter Bootstrap -->
<link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap-theme.min.css"/>
    </head>
    <body>
    <!-- 회원가입 폼 -->
<div class="container">
    <form action="/api/students" method="POST" class="form-horizontal">
    <div class="form-group">
    <label class="radio-inline">
    <input type="radio" name="role" id="" value="tutor" class="radio-inline"> 선생
    </label>
    <label class="radio-inline">
    <input type="radio" name="role" id="" value="student" class="radio-inline"> 튜터
    </label>
    </div>

    <div class="form-group">
    <label>이름</label>
    <input type="text" name="name" class="form-control">
    </div>

    <div class="form-group">
    <label>나이</label>
    <input type="number" name="age" class="form-control">
    </div>

    <div class="form-group">
    <label>Email</label>
    <input type="email" name="email" class="form-control">
    </div>

    <div class="form-group">
    <label class="radio-inline">
    <input type="radio" name="gender" id="" value="M" class="radio-inline"> 남
    </label>
    <label class="radio-inline">
    <input type="radio" name="gender" id="" value="F" class="radio-inline"> 여
    </label>
    </div>

    <div class="form-group">
    <label>비밀번호</label>
    <input type="text" name="password" class="form-control">
    </div>
    <div class="clearfix"></div>
    학생
    <div class="form-group">
    <label></label>
    <input type="number">
    </div>
    <div class="form-group">
    <label></label>
    <select>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    </select>
    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-primary">제출</button>
    </div>
    </form>
    </div>
    </body>
    </html>